<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Обновление данных книги</title>
</head>
<body>

<form th:method="POST" th:action="@{/books/update/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="title">Название: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</div>
  <br/>
  <label for="author">Автор: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</div>
  <br/>
  <label for="yearOfProduction">Год редакции: </label>
  <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction"/>
  <div style="color:red" th:if="${#fields.hasErrors('yearOfProduction')}" th:errors="*{yearOfProduction}">Year of production Error</div>
  <br/>
  <input type="submit" value="Обновить данные"/>
</form>

</body>
</html>