<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Инфо читателя</title>
</head>
<body>
<p th:text="${person.getFullName() + ', ' + person.getYearOfBirth()}">Person info</p>
<hr/>
<p>

<div th:if="${books.isEmpty()}">
    <p>Этот читатель всё сдал.</p>
</div>

<div th:if="${!books.isEmpty()}">
    <b> Книги у читателя: </b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getTitle() + ', ' + book.getYearOfProduction()}">Book info</tr>

        <form th:method="DELETE" th:action="@{/people/releaseBook/{id}/{ownerId}(id=${book.getId()}, ownerId=${person.getId()})}">
            <input type="submit" value="Сдать"/>
        </form>

    </table>
</div>
<div th:if="${!allBooks.isEmpty()}">
<span>Выдать книгу:</span>
<form th:method="PATCH" th:action="@{/people/{id}/assign(id=${person.getId()})}">
    <select th:object="${book}" th:field="*{id}" id="book">
        <option th:each="book : ${allBooks}" th:value="${book.getId()}" th:text="${book.getTitle()}">
        </option>
    </select>
    <input type="submit" value="Выдать">
</form>
</div>

</p>
<hr/>
<a th:href="@{/people/edit/{id}(id=${person.getId()})}">Изменить данные читателя</a>


<form th:method="DELETE" th:action="@{/people/delete/{id}(id=${person.getId()})}">
    <input type="submit" value="Удалить читателя"/>
</form>

<p><a th:href="@{/people/list}">Вернуться к списку читателей</a></p>
</body>
</html>